.DemandePage{
    width: 750px;
    margin: 5% auto;
}
.DemandePage form {
    border-radius: 6px;
    background: #f3f6f8;
    box-shadow: 0px 0px 12px #aaa, -0px -0px 12px #fff;
    width: 100%;
    padding: 35px 15px 15px 15px;
}
  .DemandePage label {
    font-size: 20px;
    width: 100%;
  }
  
  .DemandePage input,
  .DemandePage select {
    margin-bottom: 30px;
    font-size: 18px;
    height: 30px;
    width: 100%;
  }
  
  .DemandePage button{
    background-color: #308efe;
    padding: 5px 25px;
    color: white;
    font-size: 18px;
    border: #333 0px solid;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }

  
input{
  background-color: #ffffff;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border-bottom: 2px solid #308efe;
}
input[type=file]{
  background-color: #ffffff;
  border: none;
  color: #0d0d0d;
  padding: 0px 32px;
  padding-top: 10px;
  padding-bottom: 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 100%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border-bottom: 2px solid #308efe;
}
select{
  background-color: #ffffff;
  border: none;
  color: #0d0d0d;
  padding: 0px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border-bottom: 2px solid #308efe;
}

input:placeholder {
  color: #cccccc;
}

button {
  background-color: #308efe;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

button:hover  {
  background-color: #39ace7;
}

button:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.buttons{
  display: flex;
  justify-content: space-around;
}
