node_modules
back-end/node_modules
.parcel-cache/
dist/
.env
.DS_Store
coverage/
.vscode/
.scannerwork
sonarqube/extensions
sonarqube/data
sonarqube/logs
back-end/sonarqube/extensions
back-end/sonarqube/data
back-end/sonarqube/logs